<div class="settings-content">
  <div class="settings-header clearfix">
    <h4>Change Password</h4>
  </div>

  <form {{action save on="submit"}} class="chunky-form">
    <div {{bindAttr class=":controls errors.currentPassword:error"}}>
      <label>Old Password</label>
      {{input type="password" value=currentPassword placeholder="Current Password"}}
      <small class="below">{{errors.currentPassword}}</small>
    </div>
    <div {{bindAttr class=":controls errors.newPassword:error"}}>
      <label>New Password</label>
      {{input type="password" value=newPassword placeholder="New Password"}}
      <small class="below">{{errors.newPassword}}</small>
    </div>
    <div {{bindAttr class=":controls errors.newPasswordConfirmation:error"}}>
      <label>Confirm New Password</label>
      {{input type="password" value=newPasswordConfirmation placeholder="Confirm New Password"}}
      <small class="below">{{errors.newPasswordConfirmation}}</small>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">Update Password</button>
      </div>
    </div>
  </form>
</div>