<div class="bg-light-grey">
  <div class="container">
    <div class="row-fluid">
      <div class="span4 offset2">
        <h2 class="page-header">Change Password</h2>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4 offset2">
        <p>
          Go {{#linkTo "profile"}}back to your profile{{/linkTo}}
        </p>
      </div>
      <div class="span4">
        <form {{action submit on="submit"}} class="chunky-form">
          <div {{bindAttr class=":controls errors.currentPassword:error"}}>
            {{input type="password" value=currentPassword placeholder="Current Password"}}
            <small class="below">{{errors.currentPassword}}</small>
          </div>
          <div {{bindAttr class=":controls errors.newPassword:error"}}>
            {{input type="password" value=newPassword placeholder="New Password"}}
            <small class="below">{{errors.newPassword}}</small>
          </div>
          <div {{bindAttr class=":controls errors.newPasswordConfirmation:error"}}>
            {{input type="password" value=newPasswordConfirmation placeholder="Confirm New Password"}}
            <small class="below">{{errors.newPasswordConfirmation}}</small>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" type="submit">Update Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>