<table style="width: 200px;">
  <tbody>
    <tr><td>isLoaded:</td><td>{{isLoaded}}</td></tr>
    <tr><td>isDirty:</td><td>{{isDirty}}</td></tr>
    <tr><td>isSaving:</td><td>{{isSaving}}</td></tr>
    <tr><td>isDeleted:</td><td>{{isDeleted}}</td></tr>
    <tr><td>isError:</td><td>{{isError}}</td></tr>
    <tr><td>isNew:</td><td>{{isNew}}</td></tr>
    <tr><td>isValid:</td><td>{{isValid}}</td></tr>
  </tbody>
</table>